body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}
button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}
p {
    margin: 20px 0;
    font-size: 20px;
}
#wrapper {
    max-width: 1260px;
    margin: auto;
}
header {
    padding: 20px 0;
}
form[name="search"] {
    float: right;
}
nav a {
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-position: inside;
    font: 24px 'Oswald', sans-serif;
    padding: 10px;
}
header div{
    display: inline-block;
}
.auth {
    margin-left: 960px;
}
.auth a {
    margin: 0 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 70px;
    margin: 0;
}
.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}
.top-menu a {
    color: #b2b2b2;
}
#heading {
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-left: 50px;
}
h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(../images/bg.png);
    margin: 0;
    padding: 0 10px;
}
aside {
    float: left;
    width: 250px;
}


section {
    margin-left: 280px;
    padding-bottom: 50px;
}
blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}
blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}
figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

section > figure + figure {
    margin-left: 15px;
}
section > h2 {
    background: #29c5e6;
    font: 30px 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}
figure figcaption a {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    color: #29c5e6;
    display: block;
    text-decoration: none;
    text-align: center;
}
figure figcaption span {
    display: block;
    font-size: 11px;
    text-align: center;
    color: #8f8f8f;
    margin: 0px;
}
.team-row figure {
    margin-top: 20px;
}
.team-row figure + figure {
    margin-left: 43px;
}
footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}
#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}
footer h3 {
    font: 14px 'Oswald', sans-serif;
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
}
#twitter time a {
    color: #b4aeae;
}
footer p {
    margin: 5px 0;
}
footer a {
    color: #dbdbdb;
}
#sitemap {
    width: 160px;
    float: left;
    margin-left: 130px;
    padding-right: 15px;
}
#sitemap div {
    display: inline-block;
}
#sitemap div + div {
    margin-left: 40px;
}
#sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}
#social {
    float: left;
    margin-left: 160px;
    width: 160px;
}
.social-icon {
    width: 30px;
    height: 30px;
    background: url(../images/social.png) no-repeat;
    display: inline-block;
    margin-right: 21px;
}
.social-icon-small  {
    width: 16px;
    height: 16px;
    background: url(../images/social-small.png) no-repeat;
    display: inline-block;
    margin: 5px 12px 0 0;
}
.twitter {
    background-position: 0 0;
}

.facebook {
    background-position: -30px 0;
}

.google-plus {
    background-position: -60px 0;
}

.vimeo {
    background-position: 0 0;
}

.youtube {
    background-position: -16px 0;
}

.flickr {
    background-position: -32px 0;
}

.instagram {
    background-position: -48px 0;
}

.rss {
    background-position: -64px 0;
}
#footer-logo {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 10px;
    text-align: right;
}



.d1 input {
    width: 70%;
    height: 36px;
    padding-left: 10px;
    border: 2px solid #29c5e6;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #919191;
}
.d1 button {
    margin-left: 10px;
    top: 0;
    right: 0px;
    width: 80px;
    height: 40px;
    border: none;
    background: #29c5e6;
    border-radius: 5px 5px 5px 5px;

}
.d1 button:before {
    content: "Поиск";
    font-family: SansSerif;
    font-size: 16px;
    color: #F9F0DA;
}

