
aside {
    float: left;
    width: 250px;
}


section {
    margin-left: 280px;

}

section div:last-child{
    padding-bottom: 90px;
}
blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}
blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}
figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

section > figure + figure {
    margin-left: 15px;
}
section > h2 {
    background: #29c5e6;
    font: 30px 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}
figure figcaption a {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    color: #29c5e6;
    display: block;
    text-decoration: none;
    text-align: center;
}
figure figcaption span {
    display: block;
    font-size: 11px;
    text-align: center;
    color: #8f8f8f;
    margin: 0px;
}
.team-row figure {
    margin-top: 20px;
}
.team-row figure + figure {
    margin-left: 43px;
}


.d1 input {
    width: 70%;
    height: 36px;
    padding-left: 10px;
    border: 2px solid #29c5e6;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #919191;
}
.d1 button {
    margin-left: 10px;
    top: 0;
    right: 0px;
    width: 80px;
    height: 40px;
    border: none;
    background: #29c5e6;
    border-radius: 5px 5px 5px 5px;

}
.d1 button:before {
    content: "Поиск";
    font-family: SansSerif;
    font-size: 16px;
    color: #F9F0DA;
}

