.ulparent{
    font: 20px 'Oswald', sans-serif;
}
.ulparent > li+li {
    margin-top: 15px;
}
.information{
    padding-bottom: 90px;
}
.h4{
    font: 30px 'Oswald', sans-serif;
    color: #29c5e6;
}
.h3{
    font: 20px 'Oswald', sans-serif;
    color: #29c5e6;
}
.block{
    margin-left: 45px;
}

